In [1]:
from sql_query import SqlQuery

In [2]:
raw_sql = "SELECT * FROM table"

In [3]:
sql = SqlQuery()

In [4]:
sql.set_query(raw_sql)

In [6]:
sql.tree

[<DML 'SELECT' at 0x7F8C6385AB80>,
 <Whitespace ' ' at 0x7F8C638C7A00>,
 <Wildcard '*' at 0x7F8C638C7A60>,
 <Whitespace ' ' at 0x7F8C638C7AC0>,
 <Keyword 'FROM' at 0x7F8C638C7B20>,
 <Whitespace ' ' at 0x7F8C638C7B80>,
 <Keyword 'table' at 0x7F8C638C7BE0>]

In [7]:
sql.flatten_tree()

['SELECT', ' ', '*', ' ', 'FROM', ' ', 'TABLE']

In [8]:
sql.normalized_query

'SELECT *\nFROM TABLE'

In [10]:
sql.raw_query

'SELECT * FROM table'

In [9]:
sql.tree_to_dict()

{'type': 'ROOT',
 'children': [{'type': Token.Keyword.DML,
   'value': 'SELECT',
   'is_group': False},
  {'type': Token.Text.Whitespace, 'value': ' ', 'is_group': False},
  {'type': Token.Wildcard, 'value': '*', 'is_group': False},
  {'type': Token.Text.Whitespace, 'value': ' ', 'is_group': False},
  {'type': Token.Keyword, 'value': 'FROM', 'is_group': False},
  {'type': Token.Text.Whitespace, 'value': ' ', 'is_group': False},
  {'type': Token.Keyword, 'value': 'TABLE', 'is_group': False}]}

In [12]:
sql.create_tree()

[<DML 'SELECT' at 0x7F99EF84EC40>,
 <Whitespace ' ' at 0x7F99F0590280>,
 <Wildcard '*' at 0x7F99F05902E0>,
 <Whitespace ' ' at 0x7F99F0590340>,
 <Keyword 'FROM' at 0x7F99F05903A0>,
 <Whitespace ' ' at 0x7F99F0590400>,
 <Keyword 'table' at 0x7F99F0590460>]

In [8]:
sql_query_instance = SqlQuery()
sql_query_instance.set_query("SELECT * FROM table")  # Assuming this sets the raw_query

# Call create_tree for the first time (should execute the method and cache the result)
tree_1 = sql_query_instance.create_tree()
print(sql_query_instance.create_tree.cache_info())

# Call create_tree again (should retrieve the result from cache)
tree_2 = sql_query_instance.create_tree()
print(sql_query_instance.create_tree.cache_info())

# Now clear the cache
sql_query_instance.clear_cache()
print(sql_query_instance.create_tree.cache_info())

# Call create_tree after clearing the cache (should execute the method again)
tree_3 = sql_query_instance.create_tree()
print(sql_query_instance.create_tree.cache_info())
# Check if tree_1 is the same object as tree_3 (they should be different if cache was cleared)
print(tree_1 is tree_3)  # Should print False if cache was cleared

CacheInfo(hits=0, misses=1, maxsize=None, currsize=1)
CacheInfo(hits=1, misses=1, maxsize=None, currsize=1)
CacheInfo(hits=0, misses=0, maxsize=None, currsize=0)
CacheInfo(hits=0, misses=1, maxsize=None, currsize=1)
False

In [14]:
sql_query_instance.clear_cache()
print(sql_query_instance.create_tree.cache_info())

CacheInfo(hits=0, misses=0, maxsize=None, currsize=0)

In [16]:
from query_processor import QueryProcessor, sqlparse

In [17]:
query = "SELECT * FROM table"
processor1 = QueryProcessor(query)
tokens1 = processor1.parse_query()

processor2 = QueryProcessor(query)
tokens2 = processor2.parse_query()

print(tokens1 is tokens2)  # Check if the same object reference is returned

# Direct test of sqlparse.parse
parsed1 = sqlparse.parse(query)
parsed2 = sqlparse.parse(query)

print(parsed1[0].tokens is parsed2[0].tokens)  # Check if the same object reference is returned

False
False